<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sistema de Reserva &copy;</title>
    <link rel="stylesheet" type="text/css" href="../css/esqueceusenha.css">
</head>
<body>
    <div class="container">
        <div class="coluna">
            <div class="titulo">
                <h2 class="title">Equeceu sua Senha!</h2>
            </div>
            <h3 class="frase">Informe sua matrícula e enviaremos um email contendo sua senha.</h3>
            <div class="form">
                <input type="text" placeholder=" Matrícula" maxlength="12">
                <button class="btn">Enviar</button>
            </div>
        </div>
    </div>
</body>
</html>