*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frase{
    margin-top: 5%;
}
.container{
    width: 100vw;
    height: 100vh;
    background: #24252a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.titulo{
    background-color: #2E8B57;
    color: white;
    height: 20%;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    width: 70%;
    height: 50%;
    background:white;
}
.form{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}
.form input{
    height: 45px;
    border: none;
    background-color: honeydew;
    margin: 8px;
}
.btn{
    border-radius: 5px;
    font size: 6px;
    padding: 8px 45px;
    border: 1px solid white;
    cursor: pointer;
    width: 150px;
    align-self: center;
    background-color: lightgrey;
    border: 1px solid white;
    margin-top: 5px;
}
.btn:hover{
    background-color: grey;
    border: 1px solid white;
    color: honeydew;

}