*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgray;
}
a{
    color: grey;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color:black;
}
a:hover{
    background-color:honeydew;
    border: 1px solid white;
    color: grey;
    text-decoration: underline;
}
li{
    margin-top: 20px;
    height: 25px;
}
.content{
    display: flex;
    flex-direction: row;
}
.menu{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    width: 250px;
    height: 870px;
    border: 1px solid;
    border-color:grey;
}
.menudousuario{
    border-top-right-radius: 15px;
    width: 250px;
    height: 170px;
    background-color:green;
    border: 1px solid;
    border-color:black;
}
.menuinicio{
    width: 250px;
    height: 150px;
    background-color:honeydew;
    border: 1px solid;
    border-color:grey;
}
.menureserva{
    width: 250px;
    height: 250px;
    background-color:honeydew;
    border: 1px solid;
    border-color:grey;
}
.menuadm{
    width: 250px;
    height: 250px;
    background-color:honeydew;
    border: 1px solid;
    border-color:grey;
}
.title{
    margin-top: 10px;
}
.title-dados{
    color: white;
}
.btn{
    border-radius: 5px;
    font size: 6px;
    padding: 8px 45px;
    border: 1px solid white;
    cursor: pointer;
    width: 150px;
    align-self: center;
    background-color: lightgrey;
    border: 1px solid white;


}
.btn:hover{
    background-color: grey;
    border: 1px solid white;
    color: honeydew;

}
.ambientes{
    border-radius: 15px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color:white;
    width: 1050px;
    height: 600px;
    border: 1px solid;
    border-color:grey;
}